@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --primary-color: #001931;
  --secondary-color: #469165;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
}

body {
  font-family: "Inter", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}

nav a img {
  width: 139px;
  height: 60px;
}

nav ul {
  list-style: none;
  display: flex;
  column-gap: 32px;
}
nav ul li a {
  text-decoration: none;
  font-size: 16px;
  color: black;
  font-weight: 400;
}

.btn {
  padding: 12.5px 16px;
  border-radius: 5px;
  background: var(--secondary-color);
  border: none;
  font-size: 16px;
  font-weight: 550;
  color: #fff;
  cursor: pointer;
}

#banner {
  background: url(../assets/hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 115px 0;
}

.notice {
  max-width: 230px;
  display: flex;
  align-items: center;
  column-gap: 1.5px;
  padding: 8px 12px;
  border-radius: 30px;
  background-color: #fff;
  margin: 0 auto;
  color: var(--secondary-color);
  margin-bottom: 16px;
}

.banner-content h1 {
  font-size: 72px;
  font-weight: bold;
  line-height: 84px;
  color: #fff;
  text-align: center;
  margin-bottom: 16px;
}

.banner-content span {
  color: var(--secondary-color);
}

.banner-content p {
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  text-align: center;
  margin-bottom: 32px;
}

.banner-btn {
  display: flex;
  column-gap: 16px;
  justify-content: center;
}

.banner-btn > :nth-child(2) {
  background-color: transparent;
  border: 1px solid;
}
