@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --primary-color: #001931;
  --secondary-color: #469165;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
}

body {
  font-family: "Inter", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}

nav a img {
  width: 139px;
  height: 60px;
}

nav ul {
  list-style: none;
  display: flex;
  column-gap: 32px;
}
nav ul li a {
  text-decoration: none;
  font-size: 16px;
  color: black;
  font-weight: 400;
}

.btn {
  padding: 12.5px 16px;
  border-radius: 5px;
  background: var(--secondary-color);
  border: none;
  font-size: 16px;
  font-weight: 550;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn:hover {
  background: var(--primary-color);
  box-shadow: 0 10px 25px rgba(99, 102, 241, 0.4);
}

#banner {
  background: url(../assets/hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 115px 0;
}

.notice {
  max-width: 230px;
  display: flex;
  align-items: center;
  column-gap: 1.5px;
  padding: 8px 12px;
  border-radius: 30px;
  background-color: #fff;
  margin: 0 auto;
  color: var(--secondary-color);
  margin-bottom: 16px;
}

.banner-content h1 {
  font-size: 72px;
  font-weight: bold;
  line-height: 84px;
  color: #fff;
  text-align: center;
  margin-bottom: 16px;
}

.banner-content span {
  color: var(--secondary-color);
}

.banner-content p {
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  text-align: center;
  margin-bottom: 32px;
}

.banner-btn {
  display: flex;
  column-gap: 16px;
  justify-content: center;
}

.banner-btn > :nth-child(2) {
  background-color: transparent;
  border: 1px solid;
}

.banner-btn > :nth-child(2):hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  box-shadow: 0 10px 25px rgba(99, 102, 241, 0.4);
}

#notes {
  padding: 32px 0;
}

.section_title {
  font-size: 48px;
  font-weight: bold;
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 16px;
}

.section-description {
  font-size: 16px;
  line-height: 20px;
  color: #627382;
  text-align: center;
}

.cards {
  padding-top: 44px;
  display: flex;
  column-gap: 24px;
  justify-content: space-between;
}

.card {
  padding: 69px 24px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-img {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #f95555;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card h3 {
  padding-top: 16px;
  font-size: 22px;
  font-weight: 500;
  color: var(--primary-color);
}

.card p {
  font-size: 1rem;
  color: #627382;
  line-height: 20px;
  text-align: center;
  padding-top: 16px;
}

#knowledge {
  display: flex;
  padding: 60px 0;
}
.knowledge-img {
  min-width: 500px;
}
.knowledge-img img {
  width: 100%;
}
.knowledge-text {
  padding: 60px 30px;
}
.knowledge-text h6 {
  font-size: 16px;
  line-height: 20px;
  color: var(--secondary-color);
  text-align: center;
}
.ideas-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.knowledge-text p {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 2px;
}

#access {
  padding: 60px 0;
}

.access-content {
  background: #f7f6f2;
  padding: 80px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.access-content button {
  margin: 0 auto;
  margin-top: 24px;
}

.access-content p {
  text-align: center;
  padding-top: 16px;
  font-size: 16px;
  line-height: 20px;
  color: #627382;
}

footer {
  background: var(--primary-color);
  padding-top: 120px;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  padding-bottom: 80px;
  margin-bottom: 30px;
  border-bottom: 0.1px solid #e5e7eb;
}

.social-link p {
  font-size: 20px;
  line-height: 28px;
  color: #fff;
  padding-bottom: 16px;
}
.icons {
  display: flex;
  column-gap: 16px;
}

.icons i {
  width: 22px;
  height: 22px;
  background: #fff;
  color: #000;
  border-radius: 50%;
}

.copyright {
  font-size: 16px;
  line-height: 24px;
  color: #fafafa;
  text-align: center;
  padding-bottom: 30px;
}
