@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --primary-color: #001931;
  --btn-color: #469165;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
}

body {
  font-family: "Inter", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}

nav a img {
  width: 139px;
  height: 60px;
}

nav ul {
  list-style: none;
  display: flex;
  column-gap: 32px;
}
nav ul li a {
  text-decoration: none;
  font-size: 16px;
  color: black;
  font-weight: 400;
}

nav button {
  padding: 12.5px 16px;
  border-radius: 5px;
  background: var(--btn-color);
  border: none;
  font-size: 16px;
  font-weight: 550;
  color: #fff;
  cursor: pointer;
}
